# Rust
/target/

# Typescript
/node_modules/
/yarn.lock
/.log/


# Gradle
*.iml
.gradle
/local.properties
.DS_Store
/.kotlin
/.idea
/build
/captures
.externalNativeBuild
.cxx
local.properties

# VS code
/.vscode/

# Emacs
/.cache

# Github
/.bugs/
