mtool/app/src/main/assets/voices/notify/02-いい加減、目覚まし時計で起きなさいよね！何でいつも私が起こさなきゃいけないのよ！！.mp3 filter=lfs diff=lfs merge=lfs -text
mtool/app/src/main/assets/voices/notify/49-知らない知らない知らない.mp3 filter=lfs diff=lfs merge=lfs -text
