:host {
    width: 100%;
}

.word {
    width: 100%;
    padding: 0px 0.5em;
}

.trans {
    padding: 2px 0px;
}

.def {
    padding: 2px 0px;
}

.exchange {
    padding: 2px 0px;
}

.pos {
    padding: 2px 0px;
}

.tag {
    padding: 2px 0px;
}

.frq {
    padding: 2px 0px;
}
