:host {
    width: 100%;
}

.word {
    width: 100%;
    margin: 0px 0.5em;
}

.trans {
    margin: 2px 0px;
}

.def {
    margin: 2px 0px;
}

.exchange {
    margin: 2px 0px;
}

.pos {
    margin: 2px 0px;
}

.tag {
    margin: 2px 0px;
}

.frq {
    margin: 2px 0px;
}