<div class="view" #view tabindex="0">
    <cdk-virtual-scroll-viewport class="scroll-view" itemSize="10">
        <ng-template #word>
            <div class="word-view mat-typography">
                <h2>
                    <span>{{selected_word!.word}}</span>
                    <span *ngIf="selected_word!.phonetic"> | {{selected_word!.phonetic}}</span>
                </h2>

                <div *ngIf="selected_word!.translation.length != 0">
                    <p *ngFor="let trans of selected_word!.translation">
                        {{trans}}
                    </p>
                    <mat-divider></mat-divider>
                </div>

                <div *ngIf="selected_word!.definition.length != 0">
                    <p *ngFor="let def of selected_word!.definition">
                        {{def}}
                    </p>
                    <mat-divider></mat-divider>
                </div>

                <div *ngIf="selected_word!.exchange.length != 0">
                    <p>
                        <span *ngFor="let exchange of selected_word!.exchange">
                            {{exchange}} /
                        </span>
                    </p>
                </div>

                <div *ngIf="selected_word!.pos.length != 0">
                    <p>
                        <span *ngFor="let pos of selected_word!.pos">{{pos}}</span>
                    </p>
                </div>

                <div *ngIf="selected_word!.tag.length != 0">
                    <p>
                        <span *ngFor="let tag of selected_word!.tag">{{map_tag(tag)}} / </span>
                    </p>
                </div>

                <p *ngIf="selected_word!.collins || selected_word!.oxford || selected_word!.bnc || selected_word!.frq">
                    <span *ngIf="selected_word!.collins">{{'★'.repeat(selected_word!.collins)}} / </span>
                    <span *ngIf="selected_word!.oxford && selected_word!.oxford > 0">※ / </span>
                    <span *ngIf="selected_word!.bnc">BNC:{{selected_word!.bnc}} / </span>
                    <span *ngIf="selected_word!.frq">COCA:{{selected_word!.frq}} /</span>
                </p>
            </div>
        </ng-template>
        <mat-selection-list *ngIf="!selected_word; else word" #word_list [multiple]="false" dense>
            <mat-list-option class="list-item" *cdkVirtualFor="let word of data" [value]="word">
                <h3 class="word" matLine>
                    <span>{{word.word}}</span>
                    <span *ngIf="word.phonetic"> | {{word.phonetic}}</span>
                </h3>

                <p class="word-detail" matLine *ngFor="let trans of word.translation.slice(0, 3)">
                    {{trans}}
                </p>

                <div *ngIf="word.translation.length == 0">
                    <p class="word-detail" matLine *ngFor="let def of word.definition">
                        {{def}}
                    </p>
                </div>
                <mat-divider></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </cdk-virtual-scroll-viewport>
</div>
