<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />

    <application>
        <service
            android:name=".NotificationListener"
            android:exported="false"
            android:label="mtool"
            android:foregroundServiceType="mediaPlayback"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

<!--        <service-->
<!--            android:name=".AccessibilityService"-->
<!--            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"-->
<!--            android:label="mtool_accessibility"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.accessibilityservice.AccessibilityService" />-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.accessibilityservice"-->
<!--                android:resource="@xml/accessibility" />-->
<!--        </service>-->
    </application>
</manifest>