:host {
    display: flex;
    flex-grow: 1;
}

.view {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search {
    appearance: none;

    width: 100%;
    padding: 0.2em 0.2em;
    
    font-size: 2em;
    border: none;

    outline: none;

    font-family: Consolas, Hack, "Noto Sans CJK SC";

    &::placeholder {
        text-overflow: ellipsis;
        font-style: italic;
    }

    &::-webkit-search-cancel-button {
        appearance: none;
        
        display: none;
    }
}