<div class="view" #view tabindex="0">
    <cdk-virtual-scroll-viewport class="scroll-view" itemSize="10">
        <ng-template #word>
            <div *ngIf="selected_word" class="word-view">
                <markdown ngPreserveWhitespaces>
                    {{selected_word_to_markdown()}}
                </markdown>
            </div>
        </ng-template>
        <mat-selection-list *ngIf="!selected_word; else word" #word_list [multiple]="false" dense>
            <mat-list-option class="list-item" *cdkVirtualFor="let word of data" [value]="word">
                <h3 class="word" matLine>
                    <span>{{word.word}}</span>
                    <span *ngIf="word.phonetic"> | {{word.phonetic}}</span>
                </h3>

                <p class="word-detail" matLine *ngFor="let trans of word.translation.slice(0, 3)">
                    {{trans}}
                </p>

                <div *ngIf="word.translation.length == 0">
                    <p class="word-detail" matLine *ngFor="let def of word.definition">
                        {{def}}
                    </p>
                </div>
                <mat-divider></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </cdk-virtual-scroll-viewport>
</div>